/* styles.css */

/* Container Styles */
.container {
    position: relative;
    height:70vh;
    /* background-color: #054E30; Set the container background color */
     background-color: #054E30; 

    margin-top: 0px;
    overflow: hidden; /* Ensure the overlay doesn't spill out */
  }
  
  /* Overlay Styles */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/Assets/a.png'); /* Use the image as the overlay */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; /* Reduce the transparency of the image */
    z-index: 1;
  }
  
  
  /* Heading Container */
  .heading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    /* width: 100%; */
  }
  
  
  .highlight {
    color: #cfa256; /* Yellow hex color */
  }
  
  
  /* Main Heading */
  .main-heading {
    margin-top: 0px;
    font-size: 3.5rem;
    margin: 0;
  }
  .background{
    background-color: black;
  }
/* Sub Heading */
.sub-heading {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 80px;

    color: white;
    font-weight: 100; /* Makes the font very thin */
  }
  
/* Info Container */
/* Info Container */
.info-container {
    width: 100%; /* Full width of the parent container */

    display: grid;
    grid-template-columns: 3fr 1fr 1fr; /* Make the first column wider */
    gap: 20px; /* Add spacing between columns */
    padding: 0 20px;
    align-items: start; /* Align items at the top of their column */
    width: 100%;
  }
/* Navbar Items */
.navbar-items {
    display: flex; /* Arrange items horizontally */
    gap: 50px; /* Add spacing between items */
    margin-left: auto; /* Push items to the right side */
  }
  /* Info Box */
.info-box {
    border: 2px solid #cfa256; /* Yellow border */
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
    /* max-width: 300px; Optional: Set a maximum width */
    width: 100%;
  }
  .about-section {
    display: flex;
    justify-content: flex-start; /* Align content to the start */
    padding: 0; /* Remove padding from the section */
    margin: 0; /* Remove any default margin */
    margin-top: 7%;

    width: 100%; /* Ensure full width */
  }
  .active-image {
    box-shadow: 
    0 0 30px rgba(255, 255, 0, 1), /* Bright yellow glow */
    0 0 60px rgba(255, 215, 0, 0.8), /* Outer yellow glow */
    0 0 100px rgba(255, 255, 0, 0.5); /* Faint extended glow */  }
  
  
  /* About Image */
  .about-image {
    /* max-width: 1200px; Limit maximum width */
    border-radius: 10px; /* Optional: Add rounded corners */
    object-fit: cover; /* Ensure the image scales properly */
  }
  .testimonials {
    color: white;
    font-size: 2rem;
    text-align: center; /* Center-align the text */
  }
  .flake-container {
    position: relative; /* Ensure proper layout flow */
    margin-top: -15%; /* Move the image upward to overlap 10% */
    z-index: 0; /* Keep it behind other elements */
  }
  
  .flake-image {
    position: absolute; /* Position the image precisely */
    top: 0; /* Align it to the top of the container */
    right: 0; /* Stick it to the right-most side */
    width: 950px; /* Adjust the size of the flake */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.9; /* Optional: Slight transparency for blending */
    z-index: 1; /* Ensure it overlaps properly */
  }
  
  
  
  
  /* Bitcoin Image */
  .info-box img {
    width: 100%;
    border-radius: 10px;
  }
  /* Bitcoin Image */
.btcimage {
    justify-self: center; /* Center the image in its column */
    align-self: start; /* Align the image to the top of the column */
    height: 240px;
    width: auto;
  }
  /* Small Button */
.small-button {
    display: block;
    margin-top: 15px; /* Space between the text and the button */
    padding: 8px 16px; /* Adjust padding for a small button */
    background-color: #cfa256; /* Gold color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1.5rem; /* Small font size */
    font-weight: bold;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease;
    width:100%;
  }

  
.third-column {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center content horizontally */
    gap: 10px; /* Add spacing between the images */
  }
  
  /* Users Image */
  .users-image {
    /* width: 100%; Take full column width */
    width: 130px; /* Limit the size of the image */
    height: 115px; /* Limit the size of the image */

    justify-self: center; /* Center the image horizontally */
    align-self: start; /* Align the image to the top of the column */
    border-radius: 10px; /* Optional: Add rounded corners */
    object-fit: contain; /* Ensure the image fits within its container */
  }
  
  /* Star Image */
  .star-image {
    /* width: 100%; Take full column width */
    width: 130px; /* Limit the size of the image */
    height: 115px; /* Limit the size of the image */

    justify-self: center; /* Center the image horizontally */
    align-self: start; /* Align the image to the top of the column */
    border-radius: 10px; /* Optional: Add rounded corners */
    object-fit: contain; /* Ensure the image fits within its container */
  }
  
  
  .small-button:hover {
    background-color: #b28f47; /* Slightly darker gold on hover */
  }


  /* Card Container */
  .testimonial-section {
    position: relative;
    padding: 3%;
    background-color: black;
    color: white;
    overflow: hidden; /* Ensures no unwanted overflow */
  }
  
  .testimonial-heading {
    text-align: center;
    font-size: 2rem;
    color: white;
    z-index: 2;
    position: relative;
  }
  
  .wave-overlay {
    position: absolute;
    top: 10%;
    left: 0;

    /* z-index: 1; */ 
    /* display: flex;
    justify-content: center; /* Center the wave image */
    /* align-items: center; Center the wave image vertically */ 
  }
  
  .wave-image {
    width: 100%; /* Make the wave span full width */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.8; /* Adjust for blending effect */
    object-fit: cover; /* Ensure the image covers the container without being cropped */


  }
  /* Toggle Container */

/* Toggle Container */
.toggle-container {
  display: flex;
  margin-left: 50px; /* Add 50px spacing from the left */
  align-items: center; /* Vertically align the buttons */
  gap: 10px; /* Add space between the buttons */
  margin-top: 20px; /* Add some spacing above the toggles */
  margin-left: 5%; /* Add some spacing above the toggles */

}

/* Toggle Button */
.toggle-button {
  padding: 10px 20px;
  border: 2px solid #19875a; /* Green border color */
  border-radius: 20px; /* Rounded corners */
  background-color: black; /* Default background color */
  color: #19875a; /* Green text color */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Active Toggle Button */
.toggle-button.active {
  background-color: #19875a; /* Green background color for active */
  color: white; /* White text color for active */
}

/* Hover Effect */
.toggle-button:hover {
  background-color: #19875a; /* Green background on hover */
  color: white; /* White text on hover */
}

  .card-container {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    gap: 20px; /* Spacing between cards */
    padding: 20px;
    z-index: 2;
    position: relative; /* Ensure cards appear above the wave */
    
  }
  .card-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera: hides scrollbar */
  }
  
  .card {
    flex: 0 0 auto;
    width: 500px;
    height: 40vh;
    background-color: #19875a;
    color: white;
    display: flex;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #cfa256;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(241, 4, 4, 0.2);
    position: relative;
  }
  
  .card-image {
    z-index: 10;
    width: 40%;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
  }
  
  .card-content {
    width: 60%;
    background-color: #0b4f35;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .inner-card h2 {
    font-size: 1rem;
    margin: 0;
  }
  .course-image,
.course-image-overview {
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth scaling and shadow changes */
}

.course-image:hover,
.course-image-overview:hover {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a more pronounced shadow */
}

  
  .inner-card p {
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0;
  }
  
  .inner-card .date {
    font-size: 0.75rem;
    font-style: italic;
    margin-top: auto
    
    ;
  }
  .course-images-container {
    display: flex; /* Flexbox to align images side by side */
    justify-content: flex-start; /* Align the images to the left */
    align-items: center; /* Vertically align images */
    gap: 5%; /* Space between the images */
    margin-top: 20px; /* Add spacing above the container */
    margin-left: 5%; /* Align the container with the toggle buttons */
  }
  .course-images-container2 {
    display: flex; /* Flexbox to align images side by side */
    justify-content: flex-start; /* Align the images to the left */
    align-items: center; /* Vertically align images */
    gap: 5%; /* Space between the images */
    margin-top: 7%; /* Add spacing above the container */
    margin-left: 5%; /* Align the container with the toggle buttons */
  }
  
  .course-image {
    width: 50vw; /* Adjust width for the first image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  }
  
  .course-image-overview {
    width: 30vw; /* Adjust width for the second image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    margin-right: 900px;
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .contactInfo {
    max-width: 50%;
  }
  
  .contactInfo h3 {
    margin-bottom: 10px;
  }
  
  .contactInfo p {
    margin: 5px 0;
  }
  
  .socialLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .socialLinks a {
    color: #fff;
    text-decoration: none;
  }
  
  .socialLinks a:hover {
    text-decoration: underline;
  }
  

  .emptycode{
    margin-top: 5%;
  }
  .bright-yellow-hr {
    border: none; /* Remove default border style */
    border-top: 3px solid #CFA256; /* Bright yellow border */
    margin-top: 23%; /* Add spacing above and below the rule */
    width: 90%; /* Adjust width to make it span most of the container */
    margin-left: auto; /* Center align the rule */
    margin-right: auto;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {

    .flake-container {
      position: relative; /* Ensure proper layout flow */
      margin-top: -15%; /* Move the image upward to overlap 10% */
      z-index: 0; /* Keep it behind other elements */
    }
    @media (max-width: 768px) { /* Define mobile screen threshold */
      .navbar-items {
        display: none; /* Hide the navbar items */
      }
    }
    
    
    .flake-image {
      position: absolute; /* Position the image precisely */
      top: 0; /* Align it to the top of the container */
      right: 0; /* Stick it to the right-most side */
      width: 60%; /* Adjust the size of the flake */
      height: auto; /* Maintain aspect ratio */
      opacity: 0.9; /* Optional: Slight transparency for blending */
      z-index: 1; /* Ensure it overlaps properly */
    }
    /* Toggle Container */
.toggle-container {
  display: flex;
  margin-left: 50px; /* Add 50px spacing from the left */
  align-items: center; /* Vertically align the buttons */
  gap: 10px; /* Add space between the buttons */
  margin-top: 20px; /* Add some spacing above the toggles */
}



    /* Toggle Button */
.toggle-button {
  padding: 5px 10px;
  border: 2px solid #19875a; /* Green border color */
  border-radius: 20px; /* Rounded corners */
  background-color: black; /* Default background color */
  color: #19875a; /* Green text color */
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

    .card {
      flex: 0 0 auto;
      width: 150px;
      height: 200px;
      background-color: #19875a;
      color: white;
      display: flex;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      border: 2px solid #cfa256;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(241, 4, 4, 0.2);
      position: relative;
    }
    


    .main-heading {
      font-size: 2rem;
    }
    .sub-heading {
      font-size: 1rem;
    }

    .info-container {
      justify-content: flex-start;
        grid-template-columns: 2fr 1fr 1fr; /* Keep the three-column layout */
        gap: 10px; /* Slightly smaller gap on small screens */
      }
    
      .info-box {
        margin: 0; /* Remove any default margin */
        padding: 20px; /* Add internal spacing */
        border: 2px solid #cfa256; /* Maintain border styling */
        background-color: black;
        color: white;
        border-radius: 10px; /* Rounded corners */
        text-align: justify; /* Optional: Justify text for better readability */
        width: 60vw; /* Ensure it uses the full available width */
        font-size: 0.7rem;
        box-sizing: border-box; /* Include padding in width calculations */

      }
        /* Users Image */
  .users-image {
    /* width: 100%; Take full column width */
    width: 13px; /* Limit the size of the image */
    height: 11px; /* Limit the size of the image */

    justify-self: center; /* Center the image horizontally */
    align-self: start; /* Align the image to the top of the column */
    border-radius: 10px; /* Optional: Add rounded corners */
    object-fit: contain; /* Ensure the image fits within its container */
  }
      
    
      .btcimage {
        max-width: 100px; /* Reduce image size on small screens */
        justify-self: center;
      }
    
      .small-button {
        padding: 10px; /* Slightly smaller button padding */
        font-size: 0.7rem; /* Reduce button font size for smaller screens */
      }
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 50px;
    color: white;
    font-size: 18px;
  }
  
  /* Logo Styles */
  .logo {
    height: 40px;
    width: auto;
  }
  @keyframes scroll-cards {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  